<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Person</title>
</head>

<body>
    <h1>
        <%=person.name%>
    </h1>
    <ul class="data-list">
        <%for(let prop in person) {%>
            <li>
                <b><%=prop%></b>
                <span><%=person[prop]%></span>
            </li>
            <%}%>
    </ul>
</body>